:host {
    height: 100%;

    mat-toolbar {
        min-height: 86px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    mat-progress-bar {
        position: absolute;
        bottom: 0;
    }

    main {
        display: block;
        height: calc(100% - 60px);
    }
}
